<div class="my-own-form">
	<h2 class="text-center">Sign In</h2>

	<% if !flash[:notice].blank? %>
		<div class="alert alert-danger">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="form-group">
			<%= f.label :email ,:class => 'control-label'%><br />
	  		<%= f.email_field :email, autofocus: true, :class => 'form-control', :required => true, :placeholder => 'Your Email'  %>
	  	</div>

	  	<div class="form-group">
	  		<%= f.label :password ,:class => 'control-label'%><br />
	    	<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :required => true, :placeholder => 'Your Password' %>
	    </div>

	  	<% if devise_mapping.rememberable? -%>
	    	<div class="form-group">
	    		<%= f.check_box :remember_me %>
	    		<%= f.label :remember_me %>
	    	</div>
	  	<% end -%>

	  	<div class="form-group">
	  		<%= f.submit "Log in",:class => 'btn btn-lg btn-primary btn-block'  %>
	  	</div>

	  	<div class="form-group">
			<p class="lead">
				New User.!?! &nbsp;
		  		<%= link_to('Register User', new_user_registration_path, :class => 'btn btn-success btn-lg') %>
		  	</p>
	  	</div>

	  	<div class="form-group">
			<p class="lead">
				Forgot password.!?! &nbsp;
		  		<%= link_to('Forget Passoword', new_user_password_path, :class => 'btn btn-default') %>
		  	</p>
	  	</div>

	<% end %>
	
</div>