<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="my-own-form">
      <h2 class="text-center">Post Feed. <small><em><%= pluralize(@posts.size,"Post") %> found</em></small></h2>
      <% if user_signed_in? %>
        <%= link_to("New Post", new_post_path , :class => 'btn btn-primary btn-lg btn-block', :role => 'button') %>
      <% else %>
        <%= link_to("New Post", new_post_path , :class => 'btn btn-primary btn-lg btn-block disabled', :role => 'button') %>
        ***You should be signed in.
      <% end %>
      <br/>
      <% if !flash[:notice].blank? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if (@posts.size === 0) %>
        <div class="my-own-post"> 
          <p class="lead">No post found. Add a new post.</p>
        </div>
      <% else %>
        <% @posts.each do |post| %>  
          <div class="my-own-post">        
            <% title = post.title %>
            <% content = truncate(post.content, :length => 37, :omision => "...") %>
            <% time = time_ago_in_words post.created_at %>
            <% wrap_post_content = '<h2>' + title + '  <small>  ' + time + ' ago</small></h2><p class="lead">' + content + '</p>'%>
            <%= link_to( wrap_post_content.html_safe , post)%>
            <% if user_signed_in? %>

              <%= link_to('Edit', edit_post_path(post), :class => 'col-md-6 btn btn-default') %>
              <%= link_to('Destroy', post, method: :delete,:class => 'col-md-6 btn btn-danger', data: { confirm: 'Are you sure?' })%>
            <% else %>
              <%= link_to('Edit', edit_post_path(post), :class => 'col-md-6 btn btn-default disabled')%>
              <%= link_to('Destroy', post, method: :delete, :class => 'col-md-6 btn btn-danger disabled', data: { confirm: 'Are you sure?' } )%>
            ***You should be signed in.
            <% end %>
            &nbsp;
            <hr />
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>