<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
    	<div class="my-own	">
      		<h2 class="text-center"><%= @post.title %></h2>

      		<p class="lead"><%= @post.content %></p>

      		<% if user_signed_in? %>
	      		<%= link_to 'Back', posts_path , :class => 'col-md-6 btn btn-primary' %>
	      		<%= link_to 'Edit', edit_post_path(@post) , :class => 'col-md-6 btn btn-default ' %>
	      	<% else %>
	      		<%= link_to 'Back', posts_path , :class => 'col-md-6 btn btn-primary' %>
	      		<%= link_to 'Edit', edit_post_path(@post) , :class => 'col-md-6 btn btn-default disabled' %>
	      		***Login to edit the post
	      	<% end %>
	      	&nbsp;
	      	<hr/>
	    <!--</div>-->
		    <% if @post.comments.count === 0 %>
	        	<!--<div class="my-own-form">-->
	          		<p>No Comments found. Add a new comment.</p>
	        	<!--</div>-->
	      	<% else %>
			    <!--<div class="my-own-form">-->
			    	<h4>Comments<small></small></h4>
			    	<% @post.comments.each do |comment| %>
			    		<p class="lead"><%= comment.content %></p>
			  			<p>
			  				<%= time_ago_in_words comment.created_at %> ago
			  				<% if user_signed_in? %>
			  					<%= link_to('Edit', edit_post_path(comment), :class => 'btn btn-default btn-xs', :role => 'button' ) %> || <%= link_to('Destroy',comment , method: :delete, :class => 'btn btn-default btn-xs', :role => 'button', data: { confirm: 'Are you sure?' })%>
			  				<% else %>
			  				<% end %>
			  			</p>
			  			<hr/>
			    	<% end %>
			    <!--</div>-->
			<% end %>
			<h4>Add New Comment</h4>
			<% if user_signed_in? %>
				<!--<div class="my-own-form">-->
				<%= render 'form_comment' %>
				<!--</div>-->
			<% else %>
				<p>***Login to post comments.</p>			
			<% end %>
		</div>
	</div>
</div>
