<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
    	<div class="my-own">
      		<h2 class="text-center"><%= @post.title %></h2>

      		<p class="lead"><%= @post.content %></p>

      		<% if user_signed_in? %>
	      		<%= link_to 'Back', posts_path , :class => 'col-md-6 btn btn-primary' %>
	      		<%= link_to 'Edit', edit_post_path(@post) , :class => 'col-md-6 btn btn-default ' %>
	      	<% else %>
	      		<%= link_to 'Back', posts_path , :class => 'col-md-6 btn btn-primary' %>
	      		<%= link_to 'Edit', edit_post_path(@post) , :class => 'col-md-6 btn btn-default disabled' %>
	      		***Login to edit the post
	      	<% end %>
	      	&nbsp;
	      	<hr/>
	    <!--</div>-->
		    <% if @post.comments.count === 0 %>
	        	<!--<div class="my-own-form">-->
	          		<p class="lead">No Comments found. Add a new comment.</p>
	        	<!--</div>-->
	      	<% else %>
			    <!--<div class="my-own-form">-->
			    	<h4>Comments<small></small></h4>
			    	<% @post.comments.each do |comment| %>
			    		<p class="lead"><%= comment.content %></p>
			  			<p><%= time_ago_in_words comment.created_at %> ago</p>
			  			<hr/>
			    	<% end %>
			    <!--</div>-->
			<% end %>
		<!--<div class="my-own-form">-->
			<h5>Add New Comment</h5>
			<%= form_for [@post, @post.comments.build] do |f| %>
				  <div class="form-group">
				    <%= f.label :content %><br>
				    <%= f.text_area :content, size: '46*25', :class => 'form-control',:required => true %>
				    <p class="help-block"><em>Type the content to comment.</em></p>
				  </div>
				  <div class="form-group">
				    <%= f.submit "Post Comment", :class => 'btn btn-lg btn-primary btn-block', :role => 'button'  %>
				  </div>
			<% end %>
		<!--</div>-->
		</div>
	</div>
</div>
