<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
    	<div class="my-own	">
    		<% if !flash[:notice].blank? %>
        		<div class="alert alert-success">
          			<%= flash[:notice] %>
        		</div>
      		<% end %>
      		<h2 class="text-center"><%= @post.title %><small><em> <%= time_ago_in_words @post.created_at %> ago</em></small></h2>

      		<p class="lead"><%= @post.content %></p>

      		<% if user_signed_in? %>
	      		<%= link_to 'Back', posts_path , :class => 'col-md-6 btn btn-primary' %>
	      		<%= link_to 'Edit', edit_post_path(@post) , :class => 'col-md-6 btn btn-default ' %>
	      	<% else %>
	      		<%= link_to 'Back', posts_path , :class => 'col-md-6 btn btn-primary' %>
	      		**Login to edit this post.<%= link_to('Login here', new_user_session_path, :class => 'btn btn-link ') %>
	      	<% end %>
	      	&nbsp;
	      	<hr/>
	    <!--</div>-->
		    <% if @post.comments.count === 0 %>
	        	<!--<div class="my-own-form">-->
	          		<p>No Comments found. Add a new comment.</p>
	        	<!--</div>-->
	      	<% else %>
			    <!--<div class="my-own-form">-->
			    	<h4>Comments<small></small></h4>
			    	<% @post.comments.each do |comment| %>
			    		<p class="lead"><%= comment.content %></p>
			  			<p>
			  				<%= time_ago_in_words comment.created_at %> ago
			  			</p>
			  			<hr/>
			    	<% end %>
			    <!--</div>-->
			<% end %>
			<h4>Add New Comment</h4>
			<% if user_signed_in? %>
				<!--<div class="my-own-form">-->
				<%= render 'form_comment' %>
				<!--</div>-->
			<% else %>
				<p>**Log in to add new comment.<%= link_to('Login here', new_user_session_path, :class => 'btn btn-link ') %></p>			
			<% end %>
		</div>
	</div>
</div>
